name: "ci"

on:
- push

permissions:
  contents: read
  pull-requests: write  # Needed for Dependabot to create PRs
  issues: write         # Needed for creating issues
  checks: write         # Needed for posting test results


jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: [ '3.9', '3.10', '3.11', '3.12', '3.13' ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - uses: cvxgrp/.github/actions/uv/test@v2.0.6
        with:
          python-version: ${{ matrix.python-version }}
