name: pre-commit

permissions:
  contents: read
  pull-requests: write  # Needed for Dependabot to create PRs
  issues: write         # Needed for creating issues
  checks: write         # Needed for posting test results

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - uses: cvxgrp/.github/actions/uv/coverage@v2.0.6
        with:
          source-folder: mosek_license

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@cfd0633edbd2411b532b808ba7a8b5e04f76d2c8
        with:
          files: artifacts/tests/coverage/coverage.info
          format: lcov

  deptry:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - uses: cvxgrp/.github/actions/uv/deptry@v2.0.6
        with:
          source-folder: mosek_license
